@import "../../styles/mixins";
@import "../../styles/variables";

.loader-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.custom-loader {
  width: 100px;
  height: 100px;
  display: grid;
  border: 4px solid #0000;
  border-radius: 50%;
  border-color: #d1d1d1 #0000;
  animation: s6 1s infinite linear;

  &::before,
  &::after {
    content: "";
    grid-area: 1/1;
    margin: 2px;
    border: inherit;
    border-radius: 50%;
  }

  &::before {
    border-color: #6ab653 #0000;
    animation: inherit;
    animation-duration: 0.5s;
    animation-direction: reverse;
  }

  &::after {
    margin: 8px;
  }
}

@keyframes s6 {
  100% {
    transform: rotate(1turn);
  }
}
