$theme-color-primary: #4e80a2;
$theme-color-secondary: #6ab653;
$theme-color-third: #d1d1d1;

$theme-color-user-cell: #5b9d7f;
$theme-color-shift-btn: #2e9e33;
$theme-color-shift-error-btn: #9b332c;

$theme-font-family: "Hind-Regular", sans-serif;

@font-face {
  font-family: "Hind-Regular";
  src: url("../assets/fonts/Hind-Regular.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}
