@import "../../styles/variables";
@import "../../styles/mixins";

.notfound {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__header {
    text-align: center;
    font-size: 3rem;
  }

  &__img {
    width: 100%;
    max-width: 500px;
  }

  &__anchor {
    @include btn-hover;
  }
}
