@import "../../styles/mixins";

.heading {
  text-align: center;
  font-size: 3rem;
  &--projectname {
    color: $theme-color-third;
    border-bottom: 1px solid $theme-color-secondary;
  }
}

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  &__header {
    font-family: "Hind";
    font-size: 3rem;
  }

  &__form {
    margin-bottom: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 400px;
  }

  &__input {
    margin-bottom: 10px;
    padding: 5px;
    border: 0;
    font-size: 2rem;
    text-align: center;
    width: 100%;
    max-width: 400px;
  }

  &__btn {
    @include btn-hover;

    width: 100%;
    max-width: 300px;

    &--register {
      margin-bottom: 25px;
    }
  }

  &__error {
    font-size: 1.4rem;
    color: $theme-color-shift-error-btn;
    font-weight: 600;
  }
}
