@import "./styles/variables";

@import url("https://fonts.googleapis.com/css2?family=Hind&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-family: Hind, sans-serif;
  font-size: 10px;
  background-color: $theme-color-primary;
}

body {
  margin: 0;
}

button {
  appearance: none;
  border: none;
  padding: 0;
  margin: 0;
  background: none;
  cursor: pointer;
}

.container {
  width: 100%;
  max-width: 1360px;
  margin: 0 auto;
}
