@import "../../styles/mixins";
@import "../../styles/variables";

@import url("https://fonts.googleapis.com/css2?family=Hind&display=swap");

.shifts {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 1px solid $theme-color-third;
  flex: 1;
  margin-bottom: 20px;

  &__row {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid $theme-color-third;

    &--user {
      height: 250px;
    }
  }

  &__col {
    flex: 1;
    background-color: $theme-color-user-cell;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: "Hind";
    font-size: 1.6rem;
    border-left: 1px solid $theme-color-third;
    text-align: center;

    &--user {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 2.3rem;
      font-weight: 700;
    }

    &--header {
      display: flex;
      flex-direction: row;
      background-color: $theme-color-third;
      border-bottom: 1px solid $theme-color-third;
      justify-content: center;
      font-size: 2rem;
      font-weight: 700;
    }
  }

  &__btn {
    @include btn-hover;

    position: relative;
    left: 50%;
    width: 300px;
    transform: translateX(-50%);
    background-color: $theme-color-primary;
    // margin-bottom: 48px;

    &:hover {
      background-color: $theme-color-third;
    }
  }
}
