@import "../../styles/mixins";
@import "../../styles/variables";

@import url("https://fonts.googleapis.com/css2?family=Hind&display=swap");

.shifts {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 1px solid $theme-color-third;

  &__row {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid $theme-color-third;
  }

  &__col {
    flex: 1;
    padding: 8px;
    background-color: #ccc;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: "Hind";
    font-size: 1.6rem;
    border-left: 1px solid $theme-color-third;
    text-align: center;

    &--header {
      display: flex;
      flex-direction: row;
      background-color: $theme-color-third;
      border-bottom: 1px solid $theme-color-third;
      justify-content: center;
      font-size: 2rem;
      font-weight: 700;
    }
  }

  &__btn {
    @include btn-hover;
  }
}
